#FAQ {
    background: $Section-BG-Odd;
    .container {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

#FAQ .faq {
    height: auto;
    margin-bottom: 1rem;

    .faq-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        height: 50px;
        box-sizing: border-box;
        background: #1d252c;
        border-radius: 1rem 1rem 0px 0px;

        .faq-title {
            color: #fff;
            font-family: heading-font;
            margin: 0px;
            font-size: 1rem;
        }

        .faq-icon {
            color: #fff;
        }
    }

    .faq-body {
        display: none;
        font-family: desc-font;
        color: #fff;
        box-sizing: border-box;
        padding: 1.25rem;
        font-size: 0.8rem;
        background: #333C42;
        border-radius: 0px 0px 1rem 1rem;
    }
}
